In [60]:
import pandas as pd
from pathlib import Path
import osmnx as ox
import numpy as np

In [193]:
from osmnx import utils_geo

utils_geo.bbox_from_point(point=(1, 2), dist=200)

(np.float64(1.9982010853455991),
 np.float64(0.9982013593290142),
 np.float64(2.001798914654401),
 np.float64(1.0017986406709858))

In [222]:
data_path = "C:/Users/ckaz3/Desktop/intersection-safety-infra-detection/data/interim/existing_stations_intersections.csv"
data = pd.read_csv(data_path, index_col=0)
data

,Station_ID,Buffer,Agency,Line(s),Station Name,Year Opened,Station_Latitude,Station_Longitude,Inter_Latitude,Inter_Longitude,...,2017,2018,2019,2020,2021,2022,2023,2024,temp_col,Intersection_ID
0,0,Existing Transit,ACE,Altamont Commuter Express,Lathrop/Manteca,Pre-2000,37.898890,-121.270330,37.897870,-121.270477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.8978696_-121.270477,0
1,1,Existing Transit,ACE,Altamont Commuter Express,Lathrop/Manteca,Pre-2000,37.898890,-121.270330,37.898064,-121.269718,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.8980636_-121.2697178,1
2,2,Existing Transit,ACE,Altamont Commuter Express,Livermore,Pre-2000,37.684456,-121.769663,37.686159,-121.767987,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.6861586_-121.7679871,2
3,3,Existing Transit,ACE,Altamont Commuter Express,Livermore,Pre-2000,37.684456,-121.769663,37.686383,-121.770890,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.6863828_-121.7708903,3
4,4,Existing Transit,ACE,Altamont Commuter Express,Livermore,Pre-2000,37.684456,-121.769663,37.685424,-121.770389,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.6854244_-121.7703895,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73689,73689,Existing Transit,WMATA,"Metrorail Yellow Line(Yellow), Metrorail Green...",U STREET METRO STATION,Pre-2000,38.917015,-77.029169,38.917007,-77.028084,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.9170073_-77.028084,55342
73690,73690,Existing Transit,WMATA,"Metrorail Yellow Line(Yellow), Metrorail Green...",U STREET METRO STATION,Pre-2000,38.917015,-77.029169,38.917008,-77.029620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.9170083_-77.02962,55343
73691,73691,Existing Transit,WMATA,"Metrorail Yellow Line(Yellow), Metrorail Green...",U STREET METRO STATION,Pre-2000,38.917015,-77.029169,38.918113,-77.029620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.918113_-77.02962,55344
73692,73692,Existing Transit,WMATA,"Metrorail Yellow Line(Yellow), Metrorail Green...",U STREET METRO STATION,Pre-2000,38.917015,-77.029169,38.919196,-77.029620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.9191959_-77.0296196,55345
73693,73693,Existing Transit,WMATA,"Metrorail Yellow Line(Yellow), Metrorail Green...",U STREET METRO STATION,Pre-2000,38.917015,-77.029169,38.918113,-77.028083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.918113_-77.0280832,55346

In [208]:
data_path = "C:/Users/ckaz3/Desktop/intersection-safety-infra-detection/data/interim/existing_stations_intersections.csv"
data = pd.read_csv(data_path, index_col=0)

for i, row in data[data["Station Name"].str.startswith("42 St - P")].iterrows():
    print(
        str(
            utils_geo.bbox_from_point(
                point=(row["Inter_Latitude"], row["Inter_Longitude"]), dist=50
            )
        )
    )
    break

(np.float64(-73.98897944164224), np.float64(40.75870983983226), np.float64(-73.98779215835776), np.float64(40.75960916016775))